<div class="d-flex justify-content-between">
    <span class="title">Resultado del Test de capacidades AUGERE </span>
    <a routerLink="/test-capacidad"><img class="level-up" src="./assets/images/level-up-btn.png" alt=""></a>
</div>

<mat-stepper linear #stepper class="stepper">
    <mat-step>
        <ng-template matStepLabel class="level-box">
            <span class="nivel">Nivel</span><br>
            <span class="hades">HADES</span>
        </ng-template>
        <div class="arrow-container">
            <div class="arrow"></div>
        </div>
        <div class="step-body">
            <!-- CATEGORIAS -->
            <div class="row justify-content-center">
                <div class="col-2" *ngFor="let category of categories">
                    <p class="level-text">{{category.es}}</p>
                </div>
            </div>
            <!-- NIVELES -->
            <div class="row justify-content-center t-result">
                <div class="col-2" *ngFor="let category of categories">
                    <div *ngFor="let nivel of levels2">
                        <ng-container
                            *ngIf="getStatusHades1(category.es, nivel); then unlocked; else getStatusHades2(category.es,nivel) ? locked : empy;">
                        </ng-container>
                        <ng-template #unlocked>
                            <div class="unlock">
                                <div class="unlock-text">
                                    <span class="course-text-ok">{{getSkillHades(category.es,nivel)}}</span>
                                    <img src="./assets/icon/done.png">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #locked>
                            <div class="lock">
                                <img style="opacity: 0.6;" src="./assets/images/candado.png">
                                <span class="course-text">{{getSkillHades(category.es,nivel)}}</span>
                            </div>
                        </ng-template>
                        <ng-template #empy>
                            <div class="empy-block">

                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button mat-button matStepperNext><img src="./assets/images/next-button.png" alt="Next"></button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <span class="nivel">Nivel</span><br>
            <span class="hercules">HÉRCULES</span>
        </ng-template>
        <div class="arrow-container">
            <div class="arrow"></div>
        </div>
        <div class="step-body">
            <!-- CATEGORIAS -->
            <div class="row justify-content-center">
                <div class="col-2" *ngFor="let category of categories">
                    <p class="level-text">{{category.es}}</p>
                </div>
            </div>
            <!-- NIVELES -->
            <div class="row justify-content-center t-result">
                <div class="col-2" *ngFor="let category of categories">
                    <div *ngFor="let nivel of levels2">
                        <ng-container
                            *ngIf="getStatusHercules1(category.es, nivel); then unlocked; else getStatusHercules2(category.es,nivel) ? locked : empy;">
                        </ng-container>
                        <ng-template #unlocked>
                            <div class="unlock">
                                <div class="unlock-text">
                                    <span class="course-text-ok">{{getSkillHercules(category.es,nivel)}}</span>
                                    <img src="./assets/icon/done.png">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #locked>
                            <div class="lock">
                                <img style="opacity: 0.6;" src="./assets/images/candado.png">
                                <span class="course-text">{{getSkillHercules(category.es,nivel)}}</span>
                            </div>
                        </ng-template>
                        <ng-template #empy>
                            <div class="empy-block">

                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-button matStepperPrevious><img src="./assets/images/back-button.png" alt="Back"></button>
            <button mat-button matStepperNext><img src="./assets/images/next-button.png" alt="Next"></button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <span class="nivel">Nivel</span><br>
            <span class="zeus">ZEUS</span>
        </ng-template>
        <div class="arrow-container">
            <div class="arrow"></div>
        </div>
        <div class="step-body">
            <!-- CATEGORIAS -->
            <div class="row justify-content-center">
                <div class="col-2" *ngFor="let category of categories">
                    <p class="level-text">{{category.es}}</p>
                </div>
            </div>
            <!-- NIVELES -->
            <div class="row justify-content-center t-result">
                <div class="col-2" *ngFor="let category of categories">
                    <div *ngFor="let nivel of levels2">
                        <ng-container
                            *ngIf="getStatusZeus1(category.es, nivel); then unlocked; else getStatusZeus2(category.es,nivel) ? locked : empy;">
                        </ng-container>
                        <ng-template #unlocked>
                            <div class="unlock">
                                <div class="unlock-text">
                                    <span class="course-text-ok">{{getSkillZeus(category.es,nivel)}}</span>
                                    <img src="./assets/icon/done.png">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #locked>
                            <div class="lock">
                                <img style="opacity: 0.6;" src="./assets/images/candado.png">
                                <span class="course-text">{{getSkillZeus(category.es,nivel)}}</span>
                            </div>
                        </ng-template>
                        <ng-template #empy>
                            <div class="empy-block">

                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-button matStepperPrevious><img src="./assets/images/back-button.png" alt="Back"></button>
            <button mat-button (click)="stepper.reset()"><img src="./assets/images/redo.png" alt="Reset"></button>
        </div>
    </mat-step>
</mat-stepper>