<nav class="navbar">
  <a class="navbar-brand" href="#">    
    <span class="my-title">AUGERE!</span>
    <img class="rayo" src="./assets/images/rayo.png" alt="">
  </a>
</nav>
<img class="logo" src="./assets/images/login.png" alt="">
<div class="d-flex flex-column home">
  <div id="page-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="fw-light mt-4 text-white">Augire</h1>          
           <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>