<div class="d-flex justify-content-center">
    <footer class="text-left" [ngClass]="{'padd' : currentRoute == '/'}">
        <div class="row sub-footer" *ngIf="currentRoute == '/'">
            <div class="col-md-3 col-xs-12 ">
                <div class="row">
                    <p class="col-xs-12 col-md-12"><strong>ENLACES DE INTERÉS</strong></p>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/empresas">Empresas Afiliadas</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/registro">Registro</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/preguntas">Preguntas Frecuentes</a>

                </div>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <div class="row">

                    <p class="col-xs-12 col-md-12"><strong>PORTAL DE PAGOS MERCANTIL</strong></p>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/conocenos">¿Que es Portal de Pagos?</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/seguridad">Seguridad</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/empresas">Empresa</a>

                </div>

            </div>
            <div class="col-md-3 col-xs-12 ">
                <div class="row">

                    <p class="col-xs-12 col-md-12"><strong>ATENCIÓN AL USUARIO</strong></p>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/atencion">Sugerencias</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/atencion">Requerimientos</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/atencion">Ayuda</a>

                    <a class="col-xs-12 col-md-12 sub-footer" href="#/atencion">Contacto</a>

                </div>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <p><strong>FORMAS DE PAGO</strong></p>
                <img class="pay-metods" src="./assets/images/metodos-pago.png" alt="cards">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-md-12 col-xs-12 text-center">
                <p>© Copyright 2022 Mercantil C.A., Banco Universal. RIF: J-00002961-0. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
</div>