<div class="content d-flex justify-content-between">
    <div class="flex-item">
        <p class="error-header">¡Vaya! En este momento no podemos procesar tu solicitud.</p>
        <p class="error-text-body">Intenta nuevamente.</p>
        <p class="error-text-code">Código {{code._value.code}}.</p>
        <button mat-raised-button class="btn-regresar" (click)="volver()">Regresar</button>
    </div>
    <div class="flex-item-img">
        <div class="img">
            <img src="./assets/images/error-img.png" alt="" srcset="">
        </div>
    </div>
</div>